


  .yourclass {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 89px;
    left: 0;
    z-index:100; /* puts image into the background */
  }
 
  .image1
{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width:100%;
}

.container-fluid{
 


  display: flex;
    flex-direction: row;
    justify-content: flex;
}
.content{
  display: flex;
  justify-content: flex;

}